html, body {
	margin: 0px;
	background-color: #222f3e;
	justify-content: center;
	align-content: center;
	width: 100%;
	height: 100%;
}

.family {
	left: 0;
	right: 0;
	margin:0 auto;
	height: 200px;
	width: 609px;
	min-width: 615px;
	max-width: 1170px;
	position: absolute;
	top: 50%;
	transform: translate(0,-50%);
	
}

.square {
	
	width: 200px;
	height: 200px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	float: left;
	margin-right: 5px;
}