html, body {
	margin: 0px;
	background-color: #555f6b;
	justify-content: center;
	align-content: center;
}

.family {
	left: 0;
	right: 0;
	margin:0 auto;
    width: 1200px;
    height: 150px;
	min-width: 1200px;
	max-width: 1400px;
	position: absolute;
	top: 50%;
    transform: translate(0,-50%);
	
}

.square {
	width: 150px;
	height: 150px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	float: left;
    margin-right: 75px;
    margin-left: 75px;
	background-color: blue;
}
/* .square:hover {
	outline: 3px solid #a9e41f; 
	background-image: url(z.png);
   } */