html,
body {
  margin: 0px;
}

#wrap > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background-color: blue;
}

/* .active {
  background-color: red !important;
} */
