html, body {
margin: 0px;
    background-color: rgb(231, 244, 245);
}

#family {
    width: 1366px;
    height: 768px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#nunberElemrnt {
    width: 480px;
    height: 300px;
    position: absolute;
    top: 45%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -55%);
}

#futter {
    width: 1096px;
    height: 170px;
    position: absolute;
    top: 75%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -25%)
}

#codeKeyFanily {
    width: 360px;
    height: 160px;
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translate(0, -50%);
}
#numberKeyFutterFanily {
    width: 360px;
    height: 160px;
    position: absolute;
    top: 50%;
    left: 368px;
    transform: translate(0, -50%);
}
#keyFanily {
    width: 360px;
    height: 160px;
    position: absolute;
    top: 50%;
    left: 732px;
    transform: translate(0, -50%);

}

.infoFutter {
    top: 45px;
    width: 360px;
    height: 100px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.infoHeader {
    width: 360px;
    height: 40px;
    position: absolute;
    background-color: rgb(181, 205, 218);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#paragraphNumberKey {
    
    text-align: center;
    font-size: 290px;
    margin: 0;
    padding: 0;
}

.paragraphBottam {
    text-align: center;
    font-size: 50px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
}

.paragrapfutter {
    text-align: center;
    font-size: 28px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
}