html,body {
    margin: 0;
}
.navBar {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 100px;
    justify-content: center;
}

.list {
    display: flex;
    width: 100px;
    height: 50px;
    background-color: rgb(218, 213, 193);
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    cursor: grab;
}

.bak {
    background-color: seashell;
    color: rgb(202, 120, 42);
    box-shadow:  0 10px 15px rgba(15, 22, 94, 0.5);
}